# Importing Libraries

In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

/Users/hasanenesguray/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

# Importing Datasets

In [3]:
df_test=pd.read_csv('BTC-USD(1).csv')

In [4]:
df=pd.read_csv('bitcoin_price_Training - Training.csv')

In [5]:
df.sample(5)

              Date    Open    High     Low   Close       Volume     Market Cap
1178  May 10, 2014  450.46  455.77  448.47  454.43    6,682,600  5,742,830,000
622   Nov 17, 2015  330.36  338.35  329.61  335.09   51,001,600  4,905,260,000
968   Dec 06, 2014  376.76  378.45  370.94  374.79    7,009,320  5,115,040,000
500   Mar 18, 2016  420.55  420.55  406.14  409.55  104,940,000  6,446,330,000
716   Aug 15, 2015  265.53  266.67  261.30  261.55   19,321,100  3,849,530,000

In [6]:
df.shape

(1556, 7)

In [7]:
df.duplicated().sum()

0

In [8]:
df.isnull().sum()

Date          0
Open          0
High          0
Low           0
Close         0
Volume        0
Market Cap    0
dtype: int64

In [9]:
index=df['Volume']=='-'

In [10]:
df[index].shape

(243, 7)

In [11]:
for i in df.columns:
    print(i)
    print(df[(df[i]=='-')].shape)

Date
(0, 7)
Open
(0, 7)
High
(0, 7)
Low
(0, 7)
Close
(0, 7)
Volume
(243, 7)
Market Cap
(0, 7)

In [12]:
df.describe()

              Open         High          Low        Close
count  1556.000000  1556.000000  1556.000000  1556.000000
mean    582.625328   597.992847   567.851446   584.239396
std     523.137312   542.992855   505.877401   525.904442
min      68.500000    74.560000    65.530000    68.430000
25%     254.287500   260.327500   248.835000   254.320000
50%     438.600000   447.560000   430.570000   438.855000
75%     662.437500   674.525000   646.735000   663.402500
max    2953.220000  2999.910000  2840.530000  2958.110000

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1556 entries, 0 to 1555
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Date        1556 non-null   object
 1   Open        1556 non-null   float64
 2   High        1556 non-null   float64
 3   Low         1556 non-null   float64
 4   Close       1556 non-null   float64
 5   Volume      1556 non-null   object
 6   Market Cap  1556 non-null   object
dtypes: float64(4), object(3)
memory usage: 85.2+ KB

In [14]:
df['Volume']=df['Volume'].str.split(',').str.join('')

In [15]:
df.loc[df['Volume'] == '-', 'Volume'] = None

In [16]:
df['Volume'] = pd.to_numeric(df['Volume'], errors='coerce')
df['Volume'] = df['Volume'].interpolate(method='linear', limit_direction='both')