In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

df = pd.read_csv("cats_dataset.csv")
df.info()
df.isnull().sum()
df.describe()
df.head(5)

/Users/hasanenesguray/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Breed        1000 non-null   object
 1   Age (Years)  1000 non-null   int64
 2   Weight (kg)  1000 non-null   int64
 3   Color        1000 non-null   object
 4   Gender       1000 non-null   object
dtypes: int64(2), object(3)
memory usage: 39.2+ KB

              Breed  Age (Years)  Weight (kg)          Color  Gender
0      Russian Blue           19            7  Tortoiseshell  Female
1  Norwegian Forest           19            9  Tortoiseshell  Female
2         Chartreux            3            3          Brown  Female
3           Persian           13            6          Sable  Female
4           Ragdoll           10            8          Tabby    Male

In [2]:
df.rename(columns={'Age (Years)':'Age_In_Years'}, inplace=True)
df.rename(columns={'Weight (kg)':'Weight_In_Kg'}, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Breed         1000 non-null   object
 1   Age_In_Years  1000 non-null   int64
 2   Weight_In_Kg  1000 non-null   int64
 3   Color         1000 non-null   object
 4   Gender        1000 non-null   object
dtypes: int64(2), object(3)
memory usage: 39.2+ KB